export S3_ENDPOINT_URL=
export S3_ACCESS_KEY=
export S3_SECRET_KEY=
export S3_REGION=
export S3_BUCKET=

export FILES_PREFIX=
export DAILY_BACKUP_INTERVAL=13
export WEEKLY_BACKUP_INTERVAL=31
export MONTHLY_BACKUP_INTERVAL=183